/.idea/
/dist/
/test/_dynamic_dumped/
/tree_shaking/_cache/**

__pycache__/

!**/.gitkeep
!/tree_shaking/_cache/watch_files/
!/tree_shaking/_cache/watch_files/_readme.md
!/tree_shaking/_cache/watch_files/_readme.zh.md
!/tree_shaking/_cache/ignores.txt
